<h1>Seja Bem-Vindo</h1>

<p><strong>Data: <%= date_br(Date.today) %>


<ul>   
    <li>
        <%= link_to "Cadastro de Moedas", "/coins" %>
    </li>
</ul> 


<!-- 

    Alguns comandos/dicas do Ruby

<p>Uma simples soma: <%= 12 + 8 %></p>

<p>Meu nome invertido é: <%= "Douglas Marins Vitoriano".reverse %></p>

<p>Meu nome tem <%= "Douglas Marins Vitoriano".length %> caracteres</p>
<p>A data de hoje é: <%= Date.today.strftime("%d/%m/%Y") %></p> 


    <li>
        <a href= "/coins">Cadastro de Moedas</a> visão de html e o de cima é o de ruby
    </li> 
-->