<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> proibiu que esta moeda fosse salva:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field">
    <div>
      <%= form.label "Nome", style: "display: block" %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label "Sigla", style: "display: block" %>
      <%= form.text_field :acronym %>
    </div>

    <div>
      <%= form.label "Link da imagem", style: "display: block" %>
      <%= form.text_field :url_image %>    
    </div>

    <div>
      <% if coin.url_image.present? %>
        <%= image_tag coin.url_image, width: 25, height: 25 %>
      <% else %>
        <p>Imagem não disponível</p>
      <% end %>
    </div>
  </div>

  <div class= "actions">
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
