<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Edite esta moeda", edit_coin_path(@coin) %> |
  <%= link_to "Voltar às moedas", coins_path %>

  <%= button_to "Destrua esta moeda", @coin, method: :delete %>
</div>
